.pageTitle {
    text-align: left;
    margin-bottom: 0;
    color: #60a5fa;
    font-size: 3rem ;
    
}

.bookTitle{
    text-align: left;
    margin-bottom: 0;
    line-height: 2.2rem;
    color: #60a5fa;
    font-size: 2.5rem ;
    font-weight: 8;
    
}
.bookDescription{
    text-align: left;
    margin-top: 0;
    color: #fff;
    font-size: 1.8rem ;
}
.bookCover{
    width: 100%;
    height: auto;
}
.botones {
    display: grid;
    grid-template-columns: repeat(4,2fr);
    
    
}
.boton {
    font-size: 1.8rem;
    background-color: #60a5fa;
    color: black;
    border: none;
    width: 90%;
    height: 300%;
    border-radius: 10px;
    

}
#b1{
    grid-column: 1 / 1;
}
#b2{
    grid-column: 2 / 2;
}
#b3{
    grid-column: 4 / 4;
    
}