.poligonos {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}

.poligono {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    clip-path: circle(50% at 50% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.poligono:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: all 0.5s;
    transform: scale(1.1);
}
