.poligonos {
    display: flex;
    justify-content: space-evenly;
    margin: 5rem;
    gap: 8rem;
}

.poligono {
    width: 100px;
    height: 100px;
    background-color: #1d355722;
    clip-path: circle(50% at 50% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.poligono img {
    width: 190%;
    height: auto;
}

.poligono:hover {
    cursor: pointer;
    background-color: rgba(85, 85, 87, 0.205);
    color: rgb(0, 0, 0);
    transition: all 0.5s;
    transform: scale(1.1);
}

.poligono1 img {
    width: 100%;
}

.poligono2 img {
    width: 120%;
    height: auto;
}

.poligono3 img{
    width: 100%;
    height: auto;
}

.poligono4 img{
    width: 100%;
    height: auto;
}
