.modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background: #1d2a79b7;
    color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 10px;
    width: 600px;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 200px rgba(12, 57, 255, 0.329);
}

.close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: transparent;
    font-weight: bold;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.modal-content input {
    padding: 0.5rem 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: auto;
    margin-top: 0.25rem;
    background-color: #007bff;
    color: white;
    font-weight: bold;
}


.modal-content button[type="submit"] {
    padding: 1.5rem 1rem;
    background: #06f096;
    color: #5f5b5b;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    margin-top: 1rem;
    font-weight: bold;
    transition: background 0.3s, transform 0.3s;
}

.modal-content button[type="submit"]:hover {
    background: #2ef76aea;
    color: white;
    transform: scale(1.05);
}

.modal-content button[type="submit"]:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.modal-content .error {
    color: red;
    margin-bottom: 1rem;
}

.books-list {
    list-style: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.book-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.book-item:hover {
    background: #f0f0f0;
}

.book-thumb {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 1rem;
}