.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content {
    background: #ffffff;
    color: black;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 200px rgba(12, 57, 255, 0.329);
}

.close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: transparent;
    color: red;
    font-weight: bold;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.modal-content input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-top: 0.25rem;
    background-color: #007bff;
}

.modal-content button[type="submit"] {
    padding: 0.75rem;
    background: #161491;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}

.modal-content button[type="submit"]:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.modal-content .error {
    color: red;
    margin-bottom: 1rem;
}