.ProfileCard{
    justify-content: flex-start;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #D4B07A;
    padding: 20px;
    margin: 10px;
    max-width: 250;
    background-color: white;
}

.ProfileCard .CardImage{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.ProfileCard .Username{
    font-family: Arial, sans-serif;
    margin: 0;
    color: black;
}

.ProfileCard .Name{
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 1;
    color: grey
}

.ProfileCard .Role{
    font-family: Arial, sans-serif;
    color: black;
    margin: 0
}
