.BookListContainer{
    text-align: center;
    padding: 20px;
    max-width: max-content;
    margin-left: 130px;
    margin-top: -20rem;
}

.BookListTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
    border-bottom: 3px solid #ff6f61;
    display: inline-block;
    padding-bottom: 5px;
}

.BookList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    justify-content: center;
;
}

.BookCard {
   background: #fff;
   padding: 15px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s ease-in-out;
}

.BookCard.hover {
    transform: translateY(-5px);
}

.BookImage {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

.BookTitle {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #555;
    font-weight: bold;
}


